{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <h3 class="q-my-none">{{ form_name }}</h3>
        <br />
        <h5 class="q-my-none">{{ form_desc }}</h5>
        <br />
        <q-form @submit="submitInvoice()" class="q-gutter-md">
          <q-input
            filled
            dense
            v-model.trim="formDialog.data.name"
            type="name"
            label="Your name "
          ></q-input>
          <q-input
            filled
            dense
            v-model.trim="formDialog.data.email"
            type="email"
            label="Your email (optional, if you want a reply)"
          ></q-input>
          <q-input
            v-if="flatrate"
            filled
            dense
            v-model.trim="formDialog.data.text"
            type="textarea"
            label="{{ form_amount }} sats"
          ></q-input>
          <q-input
            v-else
            filled
            dense
            v-model.trim="formDialog.data.text"
            type="textarea"
            label="{{ form_amount }} sats per word"
          ></q-input>
          <p v-text="amountWords"></p>
          <div class="row q-mt-lg">
            <q-btn
              unelevated
              color="primary"
              :disable="formDialog.data.name == '' || formDialog.data.text == ''"
              type="submit"
              >Submit</q-btn
            >
            <q-btn @click="resetForm" flat color="grey" class="q-ml-auto"
              >Cancel</q-btn
            >
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="receive.show" position="top" @hide="closeReceiveDialog">
    <q-card
      v-if="!receive.paymentReq"
      class="q-pa-lg q-pt-xl lnbits__dialog-card"
    >
    </q-card>
    <q-card v-else class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <div class="text-center q-mb-lg">
        <a class="text-secondary" :href="'lightning:' + receive.paymentReq">
          <q-responsive :ratio="1" class="q-mx-xl">
            <qrcode
              :value="'lightning:' + paymentReq.toUpperCase()"
              :options="{width: 340}"
              class="rounded-borders"
            ></qrcode>
          </q-responsive>
        </a>
      </div>
      <div class="row q-mt-lg">
        <q-btn outline color="grey" @click="copyText(receive.paymentReq)"
          >Copy invoice</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>

{% endblock %} {% block scripts %}
<script>
  const form_id = '{{ form_id }}'
  const from_wallet = '{{ from_wallet }}'
  const form_amount = parseInt('{{ form_amount }}')
  const form_flatrate = parseInt('{{ form_flatrate }}')
</script>
<script src="{{ static_url_for('lnticket/static', path='js/display.js') }}"></script>
{% endblock %}
